    <footer>
        <p>© <%= new Date().getFullYear(); %> Hanife Yilmaz</p>
        <div class="social-link">
            <ul>
                <li><a href="https://github.com/ylmzhnf" target="_blank"><i class="fa-brands fa-github social-icon"></i></a>
                </li>
                <li><a href="https://www.linkedin.com/in/hanife-y%C4%B1lmaz-b9137b178/" target="_blank"><i class="fa-brands fa-linkedin social-icon"></i></a>
                </li>
            </ul>
        </div>
    </footer>
    </div>
</div>
<script src="/index.js"></script>
</body>

</html>