:root {
  --primary-clr: #112d4e;
  --post-clr: #f9f7f7;
  --bg-clr: #c8d5ea;
  --text-clr: #393e46;
  --head-text-clr: #222831;
  --font-primary: "Playfair Display", serif;
  --font-second: "Inter", sans-serif;
  --transition: all 0.25s ease-in-out;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  font-size: 16px;
  background-color: var(--bg-clr);
  font-family: var(--font-second);
  color: var(--text-clr);
  min-height: 100%;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  width: 100%;
  min-height: 100vh;
}
.page-wrapper_content {
  min-height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.sidebar-header,
.main-content {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.main-content {
  flex: 1;
  padding: 1rem;
}
.add-post-section {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem 0;
}
.posts-grid-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.main-content .form-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 50px);
}
h1,
h2,
h3 {
  font-family: var(--font-primary);
  font-weight: 700;
}

p,
li,
a,
input,
textarea {
  font-family: var(--font-second);
  font-weight: 400;
}
