.add-post {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
}
.add-post .icon {
  color: var(--text-clr);
  font-size: 20px;
}
.add-post .icon:hover{
  color: var(--primary-clr);
}
.add-post a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--text-clr);

}
.add-post a:hover{
  color: var(--primary-clr);
  transform: scale(1.1);
}

.post-container {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  color: var(--head-text-clr);
  font-size: 0.9rem;
}
.header a {
  color: var(--head-text-clr);
  font-size: 1.4rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.post-container {
  padding: 1rem;
}
input,
textarea {
  border: 2px solid transparent;
  background: none;
  background-color: var(--post-clr);
  border-radius: 10px;
  color: var(--text-clr);
  outline: none;
  resize: none;
}
input[name="title"]:focus,
textarea[name="content"]:focus {
  border-color: var(--primary-clr);
  box-shadow: 0 0 5px rgba(17, 45, 78, 0.3);
}
.title {
  padding: 1rem;
}
#post {
  margin-bottom: 1rem;
  padding: 1rem;
  color: var(--text-clr);
}
.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.post-btn {
  width: 30%;
  padding: 0.5rem;
  background: none;
  border: none;
  border-radius: 25px;
  text-align: center;
  transition: var(--transition);
  background-color: var(--primary-clr);
  color: var(--post-clr);
}
.post-btn:hover {
  transform: scale(1.05);
}
.post-btn:focus {
  outline: 2px solid var(--primary-clr);
  outline-offset: 2px;
}
.btn {
  color: var(--head-text-clr);
  padding: 0 1rem;
  font-size: 1.4rem;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}
.input-error {
  border-color: #d9534f !important; 
}


.input-error-message {
    color: #d9534f; 
    font-size: 0.9rem;
    margin-top: -0.5rem; 
    margin-bottom: 1rem;
    padding-left: 10px;
    font-weight: 600;
}