.head {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: var(--head-text-clr);
  margin-bottom: 1rem;
}
h1 a{
  text-decoration: none;
  color: var(--head-text-clr);
  font-weight: 700;
  font-family: var(--font-primary);
}
.icon-nav {
  font-size: 2rem;
  color: var(--head-text-clr);
}
.hamburger-btn {
  background: none;
  border: none;
}
.menu-list {
  display: none;
  width: 250px;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 3;
  background-color: var(--post-clr);
  overflow-x: hidden;
  padding-top: 60px;
  transition: var(--transition);
}
.menu-overlay {
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.menu-list.open {
  display: block;
}
.menu-overlay.open {
  display: block;
}
.titles {
  padding: 2rem;
  text-align: left;
}
.titles h2 {
  margin-bottom: 1rem;
  color: var(--head-text-clr);
}
.titles ul {
  list-style: none;
}
.titles ul li {
  margin-bottom: 1rem;
  text-decoration: none;
}
.titles ul li a {
  text-decoration: none;
  color: var(--text-clr);
  padding: 0.5rem;
  border-radius: 15px;
}
.titles ul li a:hover {
  color: var(--primary-clr);
  background-color: var(--bg-clr);
  box-shadow: 0 0 5px rgba(17, 45, 78, 0.2);
  transform: translateY(-4px);
  padding-left: 0.8rem;
}
.open {
  display: block;
}
.close-btn {
  display: none;
  background: none;
  border: none;
}
