.posts {
  background-color: var(--post-clr);
  text-align: left;
  padding: 1rem;
  margin: 2rem 1rem;
  border-radius: 10px;
  transition: var(--transition);
}
.posts h2,
.posts p {
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--bg-clr);
  padding-top: 1rem;
}
.posts:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(17, 45, 78, 0.25);
}
.form_post {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin-top: 1rem;
}
.icon-btn {
  font-size: 20px;
  color: var(--bg-clr);
  transition: var(--transition);
}
.icon-btn:hover {
  transform: rotate(10deg) scale(1.1);
  color: var(--primary-clr);
}
.delete-btn {
  border: none;
  background: none;
}
