
@media (min-width: 1000px) {
  .page-wrapper {
    display: flex;
    flex-direction: row;
    max-width: none;
    min-height: 100vh;
  }
  .sidebar-header {
    flex: 0 0 280px;
    background-color: var(--post-clr);
    box-shadow: 0 0 5px rgba(17, 45, 78, 0.3);
    height: 100vh;
    position: sticky;
    top: 0;
    margin: 0;
  }
  .page-wrapper_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: none;
    width: 100%;
  }
  .hamburger-btn,
  .close-btn,
  .menu-overlay {
    display: none;
  }
  .menu-list {
    display: block;
    position: relative;
    width: 100%;
    background-color: var(--post-clr);
  }
  .menu-list li a {
    display: block;
  }

  .head {
    justify-content: flex-start;
    margin: 0;
    padding: 1rem;
    border-bottom: 2px solid var(--bg-clr);
  }
  footer {
    max-width: none;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  .add-post {
    justify-content: flex-start;
  }
  .main-content {
    max-width: none;
    width: 100%;
    flex: 1;
    padding: 3rem;
    margin: 0;
  }
  .add-post-section {
    max-width: none;
    width: 100%;
    margin: 0;
    padding: 1rem 0;
  }
  .posts-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    max-width: none;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  }
  .main-content.form-page {
    padding: 3rem;
    margin: 0 auto;
  }
  .posts {
    margin: 1rem 0;
    max-width: 500px;
  }

  .single-post-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .single-post-page .posts {
    max-width: 500px;
    width: 100%;
    margin: 2rem 0;
  }

  .single-post-page .btn {
    align-self: flex-end;
    margin-right: 17rem;
  }
}
